<!-- <button mat-raised-button (click)="deleteRow()">Pick one</button> -->




<span>
    <button mat-raised-button (click)="openDialog()">Delete</button>
    
    <!-- <mat-icon (click)="openDialog()">edit</mat-icon> -->
    
</span>

<span>
    <button mat-raised-button (click)="openDialog()">Delete</button>

    <!-- <mat-icon (click)="deleteRow()">delete</mat-icon> -->

</span>