<div class="container"  style="background-color:lightblue">

    <div class="container-fluid" style="background-color:lightblue">
  
        <div class="row">
  
            <div class="col-md-4">
  
                <ag-grid-angular   #agGrid
  
                style="width: 850px; height: 500px;"
  
                class="ag-theme-balham"
  
                [rowData]="rowData"
  
                [rowSelection]="rowSelection"
  
                [gridOptions]="gridOptionsRight"
  
                [frameworkComponents]="frameworkComponents"
  
                (gridReady)="onGridReady($event)"
  
                (getSelectedRows) = "getSelectedRows()"
  
                (rowClicked)="onRowClick($event)"
  
                [columnDefs]="columnDefs">
  
                </ag-grid-angular>
  
            </div>
  
        </div>
  
    </div>
  
  </div>