<h1 mat-dialog-title align="center">Customer Details</h1>

<div mat-dialog-content class="mat-typography">

  <form [formGroup]="userRegForm" class="normal-form">

    <mat-grid-list cols='2' rowHeight='360px'>

      <mat-grid-tile>

        <div class="controles-container">

          <!-- <input type="hidden" formControlName="$key"> -->

          <mat-form-field>

            <input formControlName="name" autofocus matInput placeholder="name ID">

          </mat-form-field>

          <mat-form-field>

            <input formControlName="email" matInput placeholder="email Name">

          </mat-form-field>

          <mat-form-field>

            <input formControlName="phone" matInput placeholder="phone Price">

          </mat-form-field>

          <mat-form-field>

            <input formControlName="age" matInput placeholder="age Quantity">

          </mat-form-field>

          <div formGroupName="address">

            <div class="form-group">

              <mat-form-field>

                <input formControlName="city" matInput placeholder="city Pincode">

              </mat-form-field>

              <mat-form-field>

                <input formControlName="pincode" matInput placeholder="pincode Pincode">

              </mat-form-field>

            </div>

          </div>

        </div>

      </mat-grid-tile>

    </mat-grid-list>

        <div mat-dialog-actions align="center">

          <button mat-button (click)="onNoClick()">No Thanks</button>

          <button mat-button  [mat-dialog-close]="data">Ok</button>

        </div>

  </form>

 

  <!-- Reactive forms

  <div class="container">

    <form [formGroup]="userRegForm">

     <div class="form-group">

        <label>Name</label>

        <input type="text" formControlName='name' class="form-control">

      </div>

      <div class="form-group">

        <label>email</label>

        <input type="text" formControlName='email' class="form-control">

      </div>

      <div class="form-group">

        <label>Phone</label>

        <input type="text" formControlName='phone' class="form-control">

      </div>

      <div class="form-group">

        <label>Age</label>

        <input type="text" formControlName='age' class="form-control">

      </div>

 

      <div formGroupName="address">

        <div class="form-group">

          <label>City</label>

          <input type="text" formControlName='city' class="form-control">

        </div>

        <div class="form-group">

          <label>Pincode</label>

          <input type="text" formControlName='pincode' class="form-control">

        </div>

      </div>

    </form>

 

    <button class="btn btn-primary">ss</button>

  </div>

 

 

</div>

<div mat-dialog-actions align = "center">

  <button mat-button (click)="onNoClick()">No Thanks</button>

  <button mat-button  cdkFocusInitial>Ok</button>

</div> -->