div.container {

    margin: 0px, 2px;

}

 

.field {

    flex: 1 1 auto;

}

 

.normal-form {

    margin: 10px

}

 

.controles-container {

    width: 100%;

    padding: 5%;

}

 

.controles-container>* {

    width: 100%;

}